@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body{
  background-image: url('../../assets/img/background.png');
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  width: 320px;
  height: 100vh;
}
@media (min-width: 360px) {
  .wrapper {
    width: 360px;
  }
}
@media (min-width: 375px) {
  .wrapper {
    width: 375px;
  }
}
@media (min-width: 414px) {
  .wrapper {
    width: 414px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}
