.wrapper{ 
    height: 67.5%;
    width: 100%;
}
.top{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content{
    height: 75%;
    overflow: scroll;
}

.name{
    float: left;
    display: block;
    color: white;
    text-align: center;
    width: calc(100% - 150px);
}
.grammage{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.contentItem{
    color: white;
    margin-left: 10px;
}
.button{
    position: fixed;
    bottom: 20px;
    left: 5px;
    border-radius: 50px;
}
.about{
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}
@media (min-width: 360px) and (orientation: portrait){
    .contentItem{
        font-size: 22px;
    }
}
@media (min-width: 414px) and (orientation: portrait){
    .top{
        font-size: 20px;
    }
}
@media (min-width: 720px) and (orientation: portrait) {
    .top{
        font-size: 32px;
    }
    .grammage{
        font-size: 24px;
    }
    .contentItem{
        font-size: 32px;
    }
    .about{
        font-size: 20px;
    }
}
@media (min-width: 568px) and (orientation: landscape){
    .wrapper{
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        height: 75%;
        width: 92%;
    }
    .content{
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
@media (min-width: 1024px){
    .wrapper{
        height: 67.5%;
        width: 100%;
    }
    .top{
        font-size: 36px;
    }
    .content{
        font-size: 32px;
    }
    .about{
        font-size: 20px;
    }

}
