@import '../../../theme/mainTheme.scss';
.link {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  font-weight: medium;
  color: $cyan-light;
  transition: 0.5s;
  margin-top: 5px;
  .icon {
    margin-right: 5px;
    margin-top: 5px;
  }

  &:hover {
    color: $red;
    font-size: 36px;
    & .icon {
      transition: 0.5s;
      margin-right: 15px;
    }
  }
}
.linkDisabled {
  @extend .link;
  opacity: 0.5;
}
