.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 25%;
  border-radius: 5px;
  background-color: rgba(black, 0.75);
  color: red;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  overflow: visible;
  padding: 5px;
}
.button{
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: red;
  border-radius: 50px;
  transform: translate(50%, -50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.wrapper{
  width: calc(1024px * 0.8);
}
