.wrapper{
  min-height: 0%;
  max-height: 70%;
  color: white;
  overflow: scroll;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.info{
  text-align: center;
  font-size: 16px;
}
@media (min-width: 360px) {
  .info{
    font-size: 20px;
  }
}
@media (min-height: 736px) {
  .wrapper{
    max-height: 75%;
  }
}
@media (min-height: 812px) {
  .wrapper{
    max-height: 77%;
  }
}
@media (min-width: 720px) {
  .info{
    font-size: 32px;
  }
}