.wrapper{
  width: 80%;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
}
.name{
  color: white;
  font-size: 20px;
}
.time{
  color: gray;
  font-size: 12px;
}
.exercises{
  color: white;
  font-size: 16px;
}
.button{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 18px;
  background: none;
  border: none;
  color: #d9042b;
  cursor: pointer;
}
@media (min-width: 360px) and (orientation: portrait){
  .wrapper{
    width: 85%;
    padding: 8px;
  }
  .name{
    font-size: 22px;
  }
  .time{
    font-size: 14px;
  }
  .exercises{
    font-size: 18px;
  }
}
@media (min-width: 360px) and (orientation: portrait){
  .wrapper{
    width: 85%;
    padding: 8px;
  }
  .name{
    font-size: 32px;
  }
  .time{
    font-size: 24px;
  }
  .exercises{
    font-size: 24px;
  }
  .button{
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .name{
    font-size: 42px;
  }
  .time{
    font-size: 26px;
  }
  .exercises{
    font-size: 26px;
  }
  .button{
    width: 50px;
    height: 50px;
    font-size: 32px;
  }

}