@import '../../../theme/mainTheme.scss';
.wrapper {
  height: 100%;
  width: 25%;
  display: inline-block;
  font-weight: $bold;
  color: white;
}
.name {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
}
.value {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
}
