.wrapper {
  width: 100%;
  height: 75%;
  text-align: center;
}
.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  position: fixed;
  margin: 0 auto 0 auto;
  border: 1px solid white;
  border-radius: 15px 0 15px 15px;
  overflow: visible;
  background-color: rgba($color: #000000, $alpha: 0.9);
}
.input {
  margin: 7.5px auto;
  display: block;
  width: 75%;
  height: 25px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  &::placeholder{
    opacity: 0.75;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
  }
}
.inputWhenError{
  @extend .input;
  margin: 2px auto;
}
.input:first-of-type {
  margin-top: -10px;
}
.error {
  color: red;
  text-align: center;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.closePaneLink {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.registrationButton {
  width: 150px;
  height: 30px;
  bottom: 0%;
  left: 50%;
  font-size: 20px;
  position: absolute;
  border-radius: 25px;
  text-align: center;
  background-color: green;
  color: white;
  border: none;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  cursor: pointer;

}
.rules{
  width: 100%;
  display:block;
  color: white;
}
.labelRules{
  font-size: 16px;
}
.checkbox{
  margin-right: 5px;
}
.link {
  text-decoration: none;
  color: royalblue;
}

.fieldWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  padding: 3px;
}

.detailsWrapper{
  width: 80%;
  display: flex;
  justify-content: space-around;

}
.inputDetails{
  width: 45%;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  border: none;
  -moz-appearance: textfield;
  margin-top: 5px;
  &::placeholder{
    opacity: 0.75;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: black;
  }
}
.option{
  font-size: 10px;
}
.label{
  font-size: 16px;
  margin-right: 5px;
  color: white;

}
.loading{
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datePickerInput{
  border-radius: 10px;
  border: none;
  color: black;
  background-color: white;
  display: block;
  width: 75px;
  margin-left: 5px;
}
.select{
  background-color: white;
  border: none;
  border-radius: 5px;
}
.popper {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@media (min-width: 360px) {
  .input {
    height: 30px;
  }
  .error{
    font-size: 11px;
  }
}
@media (min-width: 720px) {
  .registrationForm {
    width: 60%;
    height: 70%;
  }
  .input {
    height: 45px;
    font-size: 24px;
    &::placeholder{
      opacity: 0.75;
      text-transform: uppercase;
      color: black;
      font-weight: 600;

    }
  }
  .error {
    font-size: 18px;
  }
  .closePaneLink {
    width: 40px;
    height: 40px;
    font-size: 32px;
  }
  .registrationButton {
    width: 200px;
    height: 40px;
    font-size: 24px;
  }
  .rules {
    width: 70%;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .labelRules{
    font-size: 24px;
  }
  .fieldWrapper{
    font-size: 22px;
  }
  .detailsWrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;

  }
  .inputDetails{
    height: 40px;
    font-size: 24px;
  }
  .option{
    font-size: 18px;
  }
  .label{
    font-size: 24px;
    padding: 2px;
  }
  .loading{
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .datePickerInput{
   height: 40px;
    width: 140px;
    font-size: 24px;
  }
  .select{
    font-size: 24px;
  }
  .popper {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}