@import '../../../../theme/mainTheme';
.wrapper{
    width: 100%;
    height: 67.5%;
}
.searchWrapper{
    height: 20%;
}
.title{
    font-size: 32px;
    margin-top: 5px;
    color: $cyan-light;
    text-transform: uppercase;
    text-align: center;
}
.input{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 20px;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    
    
}

.listWrapper{ 
    padding: 0 10px 0 10px;
    height: 80%;
    overflow: scroll;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}