@import '../../../../theme/mainTheme';

.wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

}
.arrow {
 
  width: 10%;
  color: white;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: $red;
  }
}
