@import '../../../../theme/mainTheme';

.wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  color: white;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: $red;
  }
}
@media (min-width: 720px) and (orientation: portrait){
  .wrapper{
    padding: 20px;
  }
  .arrow{
    font-size: 42px;
  }
}
@media (min-width: 568px) and (orientation: landscape){
  .wrapper{
    height: 15%;
  }
  .arrow{
    font-size: 26px;
  }
}
@media (min-width: 1024px){
  .wrapper{
    height: 10%;
  }
  .arrow{
    font-size: 42px;
  }
}
