.wrapper {
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.link {
  font-size: 18px;
  color: white;
}
.linkActive {
  color: red;
}
@media (min-width: 360px) {
  .link{
    font-size: 22px;
  }
}
@media (min-width: 720px) {
  .wrapper{
    padding: 0 40px;
  }
  .link{
    font-size: 32px;
  }
}
