@import '../../../theme/mainTheme.scss';
.title {
  position: fixed;
  width: 100%;
  top: 60px;
  text-align: center;
  font-size: 32px;
  font-weight: $bold;
  color: $red;
  text-transform: uppercase;
  letter-spacing: -0.75px;
}
