.wrapper {
  width: calc(80% / 3);
  color: white;
  display: inline-block;
  margin: 0 5px 0 5px;
  opacity: 1;
}
.topDate {
  text-align: center;
  font-size: 16px;
}
.bottomDate {
  text-align: center;
  margin: 0 5px 0 5px;
  font-size: 10px;
}
@media (min-width: 360px) {
  .topDate {
    font-size: 17px;
  }
  .bottomDate {
    text-align: center;
    margin: 0 5px 0 5px;
    font-size: 11px;
  }
}
@media (min-width: 720px) {
  .topDate {
    font-size: 22px;
  }
  .bottomDate {
    font-size: 14px;
  }
}