@import '../../../../theme/mainTheme';
.wrapper {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 20%;
}
.logo {
  width: 100%;
  position: relative;
  padding: 8px;
  opacity: 0.8;
}

@media (min-width: 720px) and (orientation: portrait){
  .wrapper {
    position: relative;
    width: 100%;
    height: 20%;
  }
  .logo {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    opacity: 0.7;
  }
}
@media (min-height: 812px) and (orientation: portrait) {
  .logo{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (min-width: 1024px) and (orientation: portrait) {
  .logo {
    width: 60%;
  }
}
@media (min-width: 568px) and (orientation: landscape){
  .wrapper{
    width: 100%;
  }
  .logo{
    width: 33%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 812px) and (orientation: landscape){
  .logo{
    width: 30%;
  }
}
@media (min-width: 1024px){
 .logo{
   width: 40%;
 }
}
@media (min-height: 1080px) {
  .logo{
    width: 60%;
  }

}
