.button{
  width: 70%;
  height: 25px;
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #6393a6;
  margin: 5px auto;
  font-weight: 600;
}
@media (min-width: 720px) and (orientation: portrait) {
  .button{
  height: 36px;
    font-size: 24px;
}

}
@media (min-width: 1024px) {
  .button{
    height: 40px;
    font-size: 32px;
  }
}