.wrapper{
  display: flex;
  width: 95%;
  margin: 0 auto;
  &:hover{
    width: 100%;
  }
}
.wrapperImg{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  width: 100%;
  border-radius: 2px;

}
.name{
  width: 60%;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
@media (min-width: 720px) and (orientation: portrait){
  .name{
    font-size: 24px;
  }
}
