.item{
  display: flex;
  width: 50%;
  height: 50vw;
  color: white;
  float: left;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 155%;
  background-repeat: no-repeat;
  font-size: 22px;
}
.item:nth-of-type(2n){
  border-left: 1px solid white;
}
.item:nth-of-type(2n+1){
  border-right: 1px solid white;
}
.item:nth-of-type(1n){
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.item:nth-of-type(1), .item:nth-of-type(2){
  border-top: none;
}
.item:nth-of-type(5), .item:nth-of-type(6){
  border-bottom: none;
}
@media (min-width: 1024px) {
.item {
  width: calc(95% / 3);
  height: calc(1024px / 3);
  border: 1px solid white;
  font-size: 24px;
}
  .item:nth-of-type(2n){
    border: 1px solid white;
  }
  .item:nth-of-type(2n+1){
    border: 1px solid white;
  }
  .item:nth-of-type(1n){
    border: 1px solid white;
  }
  .item:nth-of-type(1), .item:nth-of-type(2){
    border: 1px solid white;
  }
  .item:nth-of-type(5), .item:nth-of-type(6){
    border: 1px solid white;
  }

}
