.wrapper{
  width: 100%;
  min-height: 10%;
  background-color: rgba(#3b6d8c, 0.45);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-bottom: 1px solid #91c4d9;
  padding: 5px;
  font-weight: 600;
  position: relative
}
.buttonWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;

}
.button{
  background-color: red;
  color: white;
  width: 100px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 360px) and (orientation: portrait){
  .wrapper{
    font-size: 18px;
    min-height: 12.5%;
  }

}
@media (min-width: 375px) and (orientation: portrait){
  .wrapper{
    font-size: 20px;
  }
}
@media (min-width: 720px)and (orientation: portrait) {
  .button{
    width: 200px;
    height: 50px;
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    height: 12.5%;
    font-size: 22px;
  }
  .button{
    width: 150px;
    height: 40px;
    font-size: 24px;
  }
}