.wrapper{
  width: 100%;
  height: 10%;
  background-color: rgba(#3b6d8c, 0.45);
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91c4d9;
  padding: 5px;
  font-weight: 600;
  position: relative
}
.arrow{
  position: absolute;
  right: 10px;
  color: #0d0d0d;
  font-size: 28px;

}
.addPane{
  color: white;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.9);
}
.weightChart {
  padding-top: 20px;
  height: 70%;
  width: 95%;
  margin: 0 auto;
  font-size: 11px;
}
.addWeight{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.weightInput{
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.input{
  width: 100px;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 5px;
}
.button{
  width: 30%;
  height: 100%;
  margin: 5px;
  font-size: 42px;
  background: none;
  border: none;
  color: greenyellow;
  cursor: pointer;

}
@media (min-width: 360px) and (orientation: portrait){
  .wrapper{
    font-size: 18px;
    min-height: 12.5%;
  }
  .weightChart {
    font-size: 14px;
  }
}
@media (min-width: 375px) and (orientation: portrait){
  .arrow{
    font-size: 32px;
  }
  .wrapper{
    font-size: 20px;
  }
  .input{
    width: 150px;
    font-size: 20px;
  }
}
@media (min-width: 720px) and (orientation: portrait){
  .addWeight{
    margin: 0 auto;
    width: 60%;
  }
  .input{
    width: 175px;
    font-size: 24px;
  }
  .button{
    font-size: 60px;
  }
}
@media (min-width: 568px) and (orientation: landscape) {
  .weightChart{
    height: 60%;
    padding-top: 5px;
  }
  .addWeight{
    height: 30%;
    padding: 1px;
  }
  .weightInput{
    padding: 1px;
  }
  .input{
    font-size: 12px;
  }
}
@media (min-width: 1024px){
  .wrapper{
    height: 12.5%;
    font-size: 22px;
  }
  .addWeight{
    margin: 0 auto;
    width: 60%;
  }
  .input{
    width: 175px;
    font-size: 24px;
  }
  .button{
    font-size: 60px;
  }
  .weightChart {
    padding-top: 20px;
    height: 70%;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
  }
  .arrow{
    font-size: 42px;
  }
}