.wrapper {
  width: 100%;
  // overflow: visible;
  margin: 0 auto;
}
.noItems {
  text-align: center;
  font-size: 12px;
  color: white;
}
@media (min-width: 360px) {
  .noItems {
    font-size: 13px;
  }
}
@media (min-width: 720px) {
  .noItems {
    font-size: 18px;
  }
}
